<article class="post">
  <a href="/post/{{id}}">
    <div class="title">
      <span>{{title}}</span>
      <span>({{content}})</span>
    </div>
    <div class="meta">
      By {{user.username}} on {{created_at}}
      |
      {{comments.length}} {{format_plural "comment" comments.length}}
    </div>
  </a>
</article>